In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.metrics.pairwise import cosine_similarity

import pandas as pd
import string
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [2]:
# load all dataset
anime_df_merged = pd.read_csv('./preprocessed_dataset/anime_df_merged.csv')
anime_with_synopsis_df = pd.read_csv('./preprocessed_dataset/anime_with_synopsis.csv')
rating_df_lite_version = pd.read_csv('./preprocessed_dataset/rating_df_lite_version.csv')

# Data Preprocessing and Preparation

### Feature Engineering

#### Dataframe `anime_merged`
***
Feature engineering yang dilakukan pada dataframe **anime_merged** adalah: <br>
1. Encoding MAL_ID agar index integer lebih teratur
2. Ekstrak kolom **Premiered** menjadi dua informasi: **season_premiered** dan **year_premiered**
2. Ekstrak kolom **Aired** untuk mendapatkan informasi kapan anime tersebut mulai ditayangkan pertama kali (menjadi **start_aired**). Secara intuisi penonton mungkin menggemari anime pada tahun-tahun tertentu. Informasi mengenai kapan anime tersebut berakhir tidak dicatat karena asumsinya tidak terlalu diperhatikan penonton dalam pertimbangannya untuk menonton
2. Ekstrak kolom **Duration** untuk mendapatkan informasi durasi dalam jam-menit-detik
2. Ubah nilai pada kolom-kolom dengan tipe kategorikal menjadi bentuk one-hot-vector dengan TF-IDF ataupun OneHotEncoding. Pada project kali ini teknik One-hot Encoding dipilih dan digunakan dibandingkan TF-IDF karena lebih masuk akal secara logika dengan memperlihatkan suatu Genre masuk ke anime apa saja, daripada menghitung bobot kemunculan Genre tersebut yang lebih masuk akal untuk studi kasus Sentimen Analisis. Kolom-kolom yang akan dilakukan one-hot encoding yaitu tersebut yaitu:
    - **Genres**
    - **Type**
    - **Producers**
    - **Licensors**
    - **Studios**
    - **Source**
    - **Rating**
2. Normalisasi fitur bertipe numerikal dengan min-max normalization dari hasil fitur engineering sebelumnya

##### 1. Encoding MAL_ID

In [3]:
anime_ids = anime_df_merged['MAL_ID'].unique().tolist()
encoding_anime_ids = {x: i for i, x in enumerate(anime_ids)}

# encoding MAL_ID dengan data encoding
anime_df_merged['MAL_ID'] = anime_df_merged['MAL_ID'].map(encoding_anime_ids)

In [4]:
encoding_anime_ids

{1: 0,
 5: 1,
 6: 2,
 7: 3,
 8: 4,
 15: 5,
 16: 6,
 17: 7,
 18: 8,
 19: 9,
 20: 10,
 22: 11,
 23: 12,
 24: 13,
 25: 14,
 26: 15,
 27: 16,
 28: 17,
 29: 18,
 30: 19,
 31: 20,
 32: 21,
 33: 22,
 43: 23,
 44: 24,
 45: 25,
 46: 26,
 47: 27,
 48: 28,
 49: 29,
 50: 30,
 51: 31,
 52: 32,
 53: 33,
 54: 34,
 55: 35,
 56: 36,
 57: 37,
 58: 38,
 59: 39,
 60: 40,
 61: 41,
 62: 42,
 63: 43,
 64: 44,
 65: 45,
 66: 46,
 67: 47,
 68: 48,
 69: 49,
 71: 50,
 72: 51,
 73: 52,
 74: 53,
 75: 54,
 76: 55,
 77: 56,
 79: 57,
 80: 58,
 81: 59,
 82: 60,
 83: 61,
 84: 62,
 85: 63,
 86: 64,
 87: 65,
 88: 66,
 89: 67,
 90: 68,
 91: 69,
 92: 70,
 93: 71,
 94: 72,
 95: 73,
 96: 74,
 97: 75,
 98: 76,
 99: 77,
 100: 78,
 101: 79,
 102: 80,
 103: 81,
 104: 82,
 105: 83,
 106: 84,
 107: 85,
 108: 86,
 109: 87,
 110: 88,
 111: 89,
 112: 90,
 113: 91,
 114: 92,
 115: 93,
 116: 94,
 117: 95,
 118: 96,
 119: 97,
 120: 98,
 121: 99,
 122: 100,
 123: 101,
 124: 102,
 125: 103,
 126: 104,
 127: 105,
 128: 106,
 129: 107,
 130: 108,
 131: 109,
 132: 110,
 133: 111,
 134: 112,
 135: 113,
 136: 114,
 137: 115,
 138: 116,
 139: 117,
 141: 118,
 142: 119,
 143: 120,
 144: 121,
 145: 122,
 146: 123,
 147: 124,
 148: 125,
 149: 126,
 150: 127,
 151: 128,
 152: 129,
 153: 130,
 154: 131,
 155: 132,
 156: 133,
 157: 134,
 158: 135,
 159: 136,
 160: 137,
 161: 138,
 162: 139,
 163: 140,
 164: 141,
 165: 142,
 166: 143,
 167: 144,
 168: 145,
 169: 146,
 170: 147,
 171: 148,
 173: 149,
 174: 150,
 175: 151,
 176: 152,
 177: 153,
 178: 154,
 179: 155,
 180: 156,
 181: 157,
 182: 158,
 183: 159,
 184: 160,
 185: 161,
 186: 162,
 187: 163,
 188: 164,
 189: 165,
 190: 166,
 191: 167,
 192: 168,
 193: 169,
 194: 170,
 195: 171,
 196: 172,
 197: 173,
 198: 174,
 199: 175,
 200: 176,
 201: 177,
 202: 178,
 203: 179,
 204: 180,
 205: 181,
 206: 182,
 207: 183,
 208: 184,
 209: 185,
 210: 186,
 211: 187,
 212: 188,
 213: 189,
 214: 190,
 215: 191,
 216: 192,
 217: 193,
 218: 194,
 219: 195,
 220: 196,
 221: 197,
 222: 198,
 223: 199,
 225: 200,
 226: 201,
 227: 202,
 228: 203,
 229: 204,
 230: 205,
 231: 206,
 232: 207,
 233: 208,
 234: 209,
 236: 210,
 237: 211,
 238: 212,
 239: 213,
 240: 214,
 241: 215,
 242: 216,
 243: 217,
 244: 218,
 245: 219,
 246: 220,
 247: 221,
 248: 222,
 249: 223,
 250: 224,
 251: 225,
 252: 226,
 253: 227,
 254: 228,
 255: 229,
 256: 230,
 257: 231,
 258: 232,
 259: 233,
 260: 234,
 261: 235,
 262: 236,
 263: 237,
 264: 238,
 265: 239,
 266: 240,
 267: 241,
 268: 242,
 269: 243,
 270: 244,
 271: 245,
 272: 246,
 273: 247,
 274: 248,
 275: 249,
 276: 250,
 277: 251,
 278: 252,
 279: 253,
 280: 254,
 281: 255,
 282: 256,
 283: 257,
 284: 258,
 285: 259,
 286: 260,
 287: 261,
 288: 262,
 289: 263,
 290: 264,
 291: 265,
 292: 266,
 293: 267,
 294: 268,
 295: 269,
 296: 270,
 297: 271,
 298: 272,
 299: 273,
 300: 274,
 301: 275,
 302: 276,
 303: 277,
 304: 278,
 305: 279,
 306: 280,
 307: 281,
 308: 282,
 309: 283,
 310: 284,
 311: 285,
 312: 286,
 313: 287,
 314: 288,
 315: 289,
 316: 290,
 317: 291,
 318: 292,
 319: 293,
 320: 294,
 321: 295,
 322: 296,
 323: 297,
 324: 298,
 325: 299,
 326: 300,
 327: 301,
 328: 302,
 329: 303,
 330: 304,
 331: 305,
 332: 306,
 333: 307,
 334: 308,
 335: 309,
 336: 310,
 337: 311,
 338: 312,
 339: 313,
 340: 314,
 341: 315,
 342: 316,
 343: 317,
 344: 318,
 345: 319,
 346: 320,
 347: 321,
 348: 322,
 349: 323,
 350: 324,
 351: 325,
 352: 326,
 353: 327,
 354: 328,
 355: 329,
 356: 330,
 357: 331,
 358: 332,
 359: 333,
 360: 334,
 361: 335,
 362: 336,
 363: 337,
 364: 338,
 365: 339,
 366: 340,
 367: 341,
 368: 342,
 369: 343,
 370: 344,
 371: 345,
 372: 346,
 373: 347,
 374: 348,
 375: 349,
 376: 350,
 377: 351,
 378: 352,
 379: 353,
 380: 354,
 381: 355,
 382: 356,
 383: 357,
 384: 358,
 385: 359,
 386: 360,
 387: 361,
 388: 362,
 389: 363,
 390: 364,
 391: 365,
 392: 366,
 393: 367,
 394: 368,
 395: 369,
 396: 370,
 397: 371,
 398: 372,
 399: 373,
 400: 374,
 401: 375,
 402: 376,
 403: 377,
 404: 378,
 405: 379,
 406: 380,
 407: 381,
 408: 382,
 411: 383,
 412: 384,
 413: 385,
 415: 386,
 416: 387,
 417: 388,
 418: 389,
 419: 390,
 420: 391,
 421: 392,
 422: 393,
 423: 394,
 424: 395,
 425: 396,
 426: 397,
 427: 398,
 428: 399,
 429: 400,
 430: 401,
 431: 402,
 432: 403,
 433: 404,
 434: 405,
 435: 406,
 437: 407,
 438: 408,
 439: 409,
 440: 410,
 441: 411,
 442: 412,
 443: 413,
 444: 414,
 445: 415,
 446: 416,
 447: 417,
 448: 418,
 449: 419,
 450: 420,
 451: 421,
 452: 422,
 454: 423,
 455: 424,
 456: 425,
 457: 426,
 458: 427,
 459: 428,
 460: 429,
 461: 430,
 462: 431,
 463: 432,
 464: 433,
 465: 434,
 466: 435,
 467: 436,
 468: 437,
 469: 438,
 470: 439,
 471: 440,
 472: 441,
 473: 442,
 474: 443,
 475: 444,
 476: 445,
 477: 446,
 478: 447,
 479: 448,
 481: 449,
 482: 450,
 483: 451,
 484: 452,
 485: 453,
 486: 454,
 487: 455,
 488: 456,
 489: 457,
 490: 458,
 492: 459,
 493: 460,
 495: 461,
 496: 462,
 497: 463,
 498: 464,
 499: 465,
 501: 466,
 502: 467,
 503: 468,
 504: 469,
 505: 470,
 506: 471,
 507: 472,
 508: 473,
 509: 474,
 510: 475,
 511: 476,
 512: 477,
 513: 478,
 514: 479,
 515: 480,
 516: 481,
 517: 482,
 518: 483,
 519: 484,
 520: 485,
 521: 486,
 522: 487,
 523: 488,
 524: 489,
 525: 490,
 526: 491,
 527: 492,
 528: 493,
 529: 494,
 530: 495,
 531: 496,
 532: 497,
 533: 498,
 534: 499,
 535: 500,
 536: 501,
 537: 502,
 538: 503,
 539: 504,
 540: 505,
 541: 506,
 543: 507,
 544: 508,
 545: 509,
 546: 510,
 547: 511,
 548: 512,
 550: 513,
 551: 514,
 552: 515,
 553: 516,
 554: 517,
 555: 518,
 556: 519,
 557: 520,
 558: 521,
 559: 522,
 560: 523,
 561: 524,
 562: 525,
 563: 526,
 564: 527,
 565: 528,
 566: 529,
 567: 530,
 568: 531,
 569: 532,
 570: 533,
 571: 534,
 572: 535,
 573: 536,
 574: 537,
 576: 538,
 577: 539,
 578: 540,
 579: 541,
 580: 542,
 581: 543,
 582: 544,
 584: 545,
 585: 546,
 586: 547,
 587: 548,
 588: 549,
 589: 550,
 590: 551,
 591: 552,
 592: 553,
 593: 554,
 594: 555,
 595: 556,
 596: 557,
 597: 558,
 598: 559,
 599: 560,
 600: 561,
 601: 562,
 602: 563,
 603: 564,
 604: 565,
 605: 566,
 606: 567,
 607: 568,
 608: 569,
 609: 570,
 610: 571,
 611: 572,
 612: 573,
 613: 574,
 614: 575,
 615: 576,
 616: 577,
 617: 578,
 618: 579,
 619: 580,
 620: 581,
 621: 582,
 622: 583,
 623: 584,
 624: 585,
 625: 586,
 626: 587,
 627: 588,
 629: 589,
 630: 590,
 631: 591,
 632: 592,
 633: 593,
 634: 594,
 635: 595,
 636: 596,
 637: 597,
 641: 598,
 642: 599,
 644: 600,
 645: 601,
 646: 602,
 647: 603,
 648: 604,
 649: 605,
 650: 606,
 651: 607,
 652: 608,
 653: 609,
 654: 610,
 655: 611,
 656: 612,
 658: 613,
 659: 614,
 660: 615,
 661: 616,
 664: 617,
 665: 618,
 666: 619,
 667: 620,
 668: 621,
 669: 622,
 670: 623,
 671: 624,
 673: 625,
 675: 626,
 676: 627,
 677: 628,
 678: 629,
 679: 630,
 681: 631,
 682: 632,
 683: 633,
 684: 634,
 685: 635,
 686: 636,
 687: 637,
 688: 638,
 689: 639,
 690: 640,
 691: 641,
 692: 642,
 693: 643,
 694: 644,
 695: 645,
 696: 646,
 704: 647,
 705: 648,
 706: 649,
 707: 650,
 708: 651,
 709: 652,
 710: 653,
 711: 654,
 712: 655,
 713: 656,
 714: 657,
 715: 658,
 718: 659,
 719: 660,
 721: 661,
 722: 662,
 723: 663,
 724: 664,
 725: 665,
 727: 666,
 729: 667,
 730: 668,
 731: 669,
 732: 670,
 733: 671,
 734: 672,
 736: 673,
 738: 674,
 740: 675,
 741: 676,
 743: 677,
 744: 678,
 746: 679,
 747: 680,
 748: 681,
 749: 682,
 750: 683,
 751: 684,
 752: 685,
 753: 686,
 754: 687,
 755: 688,
 756: 689,
 757: 690,
 758: 691,
 759: 692,
 760: 693,
 761: 694,
 762: 695,
 763: 696,
 764: 697,
 765: 698,
 766: 699,
 767: 700,
 769: 701,
 770: 702,
 771: 703,
 773: 704,
 776: 705,
 777: 706,
 779: 707,
 780: 708,
 781: 709,
 782: 710,
 783: 711,
 785: 712,
 786: 713,
 788: 714,
 789: 715,
 790: 716,
 791: 717,
 792: 718,
 793: 719,
 795: 720,
 796: 721,
 797: 722,
 798: 723,
 799: 724,
 800: 725,
 801: 726,
 807: 727,
 808: 728,
 810: 729,
 811: 730,
 812: 731,
 813: 732,
 814: 733,
 815: 734,
 816: 735,
 817: 736,
 818: 737,
 819: 738,
 820: 739,
 821: 740,
 822: 741,
 823: 742,
 824: 743,
 825: 744,
 827: 745,
 828: 746,
 830: 747,
 831: 748,
 832: 749,
 833: 750,
 834: 751,
 835: 752,
 836: 753,
 837: 754,
 838: 755,
 839: 756,
 840: 757,
 841: 758,
 842: 759,
 844: 760,
 845: 761,
 846: 762,
 848: 763,
 849: 764,
 850: 765,
 851: 766,
 852: 767,
 853: 768,
 854: 769,
 855: 770,
 856: 771,
 857: 772,
 858: 773,
 859: 774,
 860: 775,
 861: 776,
 863: 777,
 864: 778,
 865: 779,
 866: 780,
 867: 781,
 868: 782,
 869: 783,
 870: 784,
 872: 785,
 873: 786,
 874: 787,
 875: 788,
 876: 789,
 877: 790,
 878: 791,
 879: 792,
 880: 793,
 881: 794,
 882: 795,
 883: 796,
 884: 797,
 885: 798,
 886: 799,
 887: 800,
 888: 801,
 889: 802,
 890: 803,
 891: 804,
 892: 805,
 893: 806,
 894: 807,
 895: 808,
 896: 809,
 897: 810,
 898: 811,
 899: 812,
 900: 813,
 901: 814,
 902: 815,
 903: 816,
 904: 817,
 905: 818,
 906: 819,
 907: 820,
 908: 821,
 909: 822,
 910: 823,
 911: 824,
 912: 825,
 913: 826,
 914: 827,
 915: 828,
 916: 829,
 917: 830,
 918: 831,
 919: 832,
 920: 833,
 921: 834,
 924: 835,
 925: 836,
 926: 837,
 927: 838,
 928: 839,
 929: 840,
 930: 841,
 932: 842,
 933: 843,
 934: 844,
 935: 845,
 936: 846,
 937: 847,
 938: 848,
 940: 849,
 941: 850,
 942: 851,
 943: 852,
 944: 853,
 949: 854,
 950: 855,
 951: 856,
 952: 857,
 953: 858,
 956: 859,
 957: 860,
 958: 861,
 959: 862,
 960: 863,
 961: 864,
 962: 865,
 963: 866,
 964: 867,
 965: 868,
 967: 869,
 968: 870,
 969: 871,
 970: 872,
 971: 873,
 972: 874,
 973: 875,
 974: 876,
 975: 877,
 976: 878,
 977: 879,
 978: 880,
 979: 881,
 980: 882,
 981: 883,
 982: 884,
 983: 885,
 984: 886,
 985: 887,
 986: 888,
 987: 889,
 988: 890,
 989: 891,
 990: 892,
 991: 893,
 992: 894,
 993: 895,
 994: 896,
 995: 897,
 996: 898,
 997: 899,
 998: 900,
 999: 901,
 1000: 902,
 1001: 903,
 1002: 904,
 1003: 905,
 1004: 906,
 1005: 907,
 1006: 908,
 1007: 909,
 1008: 910,
 1009: 911,
 1010: 912,
 1011: 913,
 1012: 914,
 1013: 915,
 1014: 916,
 1015: 917,
 1016: 918,
 1017: 919,
 1018: 920,
 1019: 921,
 1020: 922,
 1021: 923,
 1022: 924,
 1023: 925,
 1024: 926,
 1025: 927,
 1026: 928,
 1027: 929,
 1028: 930,
 1029: 931,
 1030: 932,
 1031: 933,
 1032: 934,
 1033: 935,
 1034: 936,
 1035: 937,
 1036: 938,
 1037: 939,
 1038: 940,
 1039: 941,
 1040: 942,
 1041: 943,
 1042: 944,
 1043: 945,
 1044: 946,
 1045: 947,
 1046: 948,
 1047: 949,
 1048: 950,
 1049: 951,
 1050: 952,
 1051: 953,
 1052: 954,
 1053: 955,
 1055: 956,
 1056: 957,
 1057: 958,
 1058: 959,
 1059: 960,
 1060: 961,
 1062: 962,
 1064: 963,
 1065: 964,
 1066: 965,
 1067: 966,
 1068: 967,
 1069: 968,
 1070: 969,
 1071: 970,
 1072: 971,
 1074: 972,
 1075: 973,
 1076: 974,
 1078: 975,
 1079: 976,
 1080: 977,
 1081: 978,
 1082: 979,
 1083: 980,
 1084: 981,
 1085: 982,
 1086: 983,
 1087: 984,
 1088: 985,
 1089: 986,
 1090: 987,
 1091: 988,
 1092: 989,
 1093: 990,
 1094: 991,
 1095: 992,
 1096: 993,
 1097: 994,
 1098: 995,
 1099: 996,
 1100: 997,
 1101: 998,
 1102: 999,
 ...}

##### 2. Ekstrak informasi kolom `Premiered`

In [5]:
anime_df_merged[['season_premiered', 'year_premiered']] = anime_df_merged['Premiered'].str.split(' ', expand=True)

# drop column Premiered karena sudah dibutuhkan lagi
anime_df_merged.drop('Premiered', axis=1, inplace=True)

In [6]:
anime_df_merged.head()

,MAL_ID,Name,Genres,Type,Episodes,Aired,Producers,Licensors,Studios,Source,Duration,Rating,season_premiered,year_premiered
0,0,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,"Apr 3, 1998 to Apr 24, 1999",Bandai Visual,"Funimation, Bandai Entertainment",Sunrise,Original,24 min. per ep.,R - 17+ (violence & profanity),Spring,1998
1,1,Cowboy Bebop: Tengoku no Tobira,"Action, Drama, Mystery, Sci-Fi, Space",Movie,1,"Sep 1, 2001","Sunrise, Bandai Visual",Sony Pictures Entertainment,Bones,Original,1 hr. 55 min.,R - 17+ (violence & profanity),Fall,2016
2,2,Trigun,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",TV,26,"Apr 1, 1998 to Sep 30, 1998",Victor Entertainment,"Funimation, Geneon Entertainment USA",Madhouse,Manga,24 min. per ep.,PG-13 - Teens 13 or older,Spring,1998
3,3,Witch Hunter Robin,"Action, Mystery, Police, Supernatural, Drama, ...",TV,26,"Jul 2, 2002 to Dec 24, 2002","TV Tokyo, Bandai Visual, Dentsu, Victor Entert...","Funimation, Bandai Entertainment",Sunrise,Original,25 min. per ep.,PG-13 - Teens 13 or older,Summer,2002
4,4,Bouken Ou Beet,"Adventure, Fantasy, Shounen, Supernatural",TV,52,"Sep 30, 2004 to Sep 29, 2005","TV Tokyo, Dentsu",Funimation,Toei Animation,Manga,23 min. per ep.,PG - Children,Fall,2004

##### 3. Ekstrak informasi kolom `Aired`

In [7]:
def extract_aired_information(value):
    try:
        # Split to get the starting aired date
        start_aired = value.split('to')[0].strip()
        date_month, year = start_aired.split(', ')
        month, date = date_month.split(' ')
        return date, month, year
    except ValueError:
        # Handle missing or malformed dates
        return None, None, None

In [8]:
anime_df_merged[
    ['start_date_aired', 'start_month_aired', 'start_year_aired']
] = anime_df_merged['Aired'].apply(func=extract_aired_information).apply(pd.Series)

# drop column Aired karena sudah dibutuhkan lagi
anime_df_merged.drop('Aired', axis=1, inplace=True)

In [9]:
anime_df_merged.head()

,MAL_ID,Name,Genres,Type,Episodes,Producers,Licensors,Studios,Source,Duration,Rating,season_premiered,year_premiered,start_date_aired,start_month_aired,start_year_aired
0,0,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,Bandai Visual,"Funimation, Bandai Entertainment",Sunrise,Original,24 min. per ep.,R - 17+ (violence & profanity),Spring,1998,3,Apr,1998
1,1,Cowboy Bebop: Tengoku no Tobira,"Action, Drama, Mystery, Sci-Fi, Space",Movie,1,"Sunrise, Bandai Visual",Sony Pictures Entertainment,Bones,Original,1 hr. 55 min.,R - 17+ (violence & profanity),Fall,2016,1,Sep,2001
2,2,Trigun,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",TV,26,Victor Entertainment,"Funimation, Geneon Entertainment USA",Madhouse,Manga,24 min. per ep.,PG-13 - Teens 13 or older,Spring,1998,1,Apr,1998
3,3,Witch Hunter Robin,"Action, Mystery, Police, Supernatural, Drama, ...",TV,26,"TV Tokyo, Bandai Visual, Dentsu, Victor Entert...","Funimation, Bandai Entertainment",Sunrise,Original,25 min. per ep.,PG-13 - Teens 13 or older,Summer,2002,2,Jul,2002
4,4,Bouken Ou Beet,"Adventure, Fantasy, Shounen, Supernatural",TV,52,"TV Tokyo, Dentsu",Funimation,Toei Animation,Manga,23 min. per ep.,PG - Children,Fall,2004,30,Sep,2004

##### 4. Ekstrak informasi kolom `Duration`

In [10]:
def extract_duration_information(duration):
    hours = 0
    minutes = 0
    seconds = 0
    
    # check for hours in the durations tring
    if 'hr.' in duration:
        hours = int(duration.split('hr.')[0].strip())
        duration = duration.split('hr.')[1]
    
    # Check for minutes in the duration string
    if 'min.' in duration:
        minutes = int(duration.split('min.')[0].strip())
        duration = duration.split('min.')[1]
    
    # check for seconds in the duration string
    if 'sec.' in duration:
        seconds = int(duration.split('sec.')[0].strip())
    
    return hours, minutes, seconds

In [11]:
anime_df_merged[['duration_hours', 'duration_minutes', 'duration_seconds']] = anime_df_merged['Duration'].apply(
    lambda x: pd.Series(extract_duration_information(x))
)
# drop column Duration karena sudah dibutuhkan lagi
anime_df_merged.drop('Duration', axis=1, inplace=True)

In [12]:
anime_df_merged.head()

,MAL_ID,Name,Genres,Type,Episodes,Producers,Licensors,Studios,Source,Rating,season_premiered,year_premiered,start_date_aired,start_month_aired,start_year_aired,duration_hours,duration_minutes,duration_seconds
0,0,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,Bandai Visual,"Funimation, Bandai Entertainment",Sunrise,Original,R - 17+ (violence & profanity),Spring,1998,3,Apr,1998,0,24,0
1,1,Cowboy Bebop: Tengoku no Tobira,"Action, Drama, Mystery, Sci-Fi, Space",Movie,1,"Sunrise, Bandai Visual",Sony Pictures Entertainment,Bones,Original,R - 17+ (violence & profanity),Fall,2016,1,Sep,2001,1,55,0
2,2,Trigun,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",TV,26,Victor Entertainment,"Funimation, Geneon Entertainment USA",Madhouse,Manga,PG-13 - Teens 13 or older,Spring,1998,1,Apr,1998,0,24,0
3,3,Witch Hunter Robin,"Action, Mystery, Police, Supernatural, Drama, ...",TV,26,"TV Tokyo, Bandai Visual, Dentsu, Victor Entert...","Funimation, Bandai Entertainment",Sunrise,Original,PG-13 - Teens 13 or older,Summer,2002,2,Jul,2002,0,25,0
4,4,Bouken Ou Beet,"Adventure, Fantasy, Shounen, Supernatural",TV,52,"TV Tokyo, Dentsu",Funimation,Toei Animation,Manga,PG - Children,Fall,2004,30,Sep,2004,0,23,0

##### 5. One-hot vector untuk kolom-kolom bertipe kategorikal

In [13]:
ohe_genres_df = anime_df_merged['Genres'].str.get_dummies(sep=', ').add_prefix('Genre_')
ohe_type_df = anime_df_merged['Type'].str.get_dummies(sep=', ').add_prefix('Type_')
ohe_producers_df = anime_df_merged['Producers'].str.get_dummies(sep=', ').add_prefix('Producers_')
ohe_licensors_df = anime_df_merged['Licensors'].str.get_dummies(sep=', ').add_prefix('Licensors_')
ohe_studios_df = anime_df_merged['Studios'].str.get_dummies(sep=', ').add_prefix('Studios_')
ohe_source_df = anime_df_merged['Source'].str.get_dummies(sep=', ').add_prefix('Source_')
ohe_rating_df = anime_df_merged['Rating'].str.get_dummies(sep=', ').add_prefix('Rating_')

##### 6. Normalisasi fitur numerikal dengan min-max normalization

In [14]:
# List of numerical columns to normalized
numerical_columns = [
    'Episodes',
    'year_premiered',
    'start_date_aired',
    'start_year_aired',
    'duration_hours',
    'duration_minutes',
    'duration_seconds'
]

# handle missing values first using mode statistic for each column
# Replace NaN values with the mode for each selected column
for column in numerical_columns:
    mode_value = anime_df_merged[column].mode()[0]  # Get the mode value (first mode in case of ties)
    anime_df_merged[column] = anime_df_merged[column].fillna(mode_value)  # Fill NaN with mode value

# Initialize MinMaxScaler
scaler = MinMaxScaler()

# Apply Min-Max normalization to the selected columns
numerical_scaled_feature_df = scaler.fit_transform(anime_df_merged[numerical_columns])
numerical_scaled_feature_df = pd.DataFrame(numerical_scaled_feature_df, columns=numerical_columns)

In [15]:
# tambahkan informasi MAL_ID pada numerical features
numerical_scaled_feature_df = pd.concat([
    anime_df_merged[['MAL_ID']],
    numerical_scaled_feature_df
],axis=1)

In [16]:
numerical_scaled_feature_df.head()

,MAL_ID,Episodes,year_premiered,start_date_aired,start_year_aired,duration_hours,duration_minutes,duration_seconds
0,0,0.008181,0.616667,0.066667,0.778846,0.0,0.406780,0.0
1,1,0.000000,0.916667,0.000000,0.807692,0.5,0.932203,0.0
2,2,0.008181,0.616667,0.000000,0.778846,0.0,0.406780,0.0
3,3,0.008181,0.683333,0.033333,0.817308,0.0,0.423729,0.0
4,4,0.016688,0.716667,0.966667,0.836538,0.0,0.389831,0.0

#### Dataframe `anime_with_synopsis`
***
1. Encoding MAL_ID agar index integer lebih teratur dan sesuai dengan mapping pada dataframe **`anime_merged`**
2. Preprocessing teks pada kolom **synopsis** agar bisa digunakan sebagai fitur tambahan pada sistem rekomendasi berbasis Content-based filtering. 
3. Ekstraksi informasi dari kolom **synopsis** berupa TF-IDF

##### 1. Encoding MAL_ID

In [17]:
anime_ids = anime_with_synopsis_df['MAL_ID'].unique().tolist()

# ambil index terakhir MAL_ID dari hasil encoding anime_merged
last_index = max(encoding_anime_ids.values())+1
for anime_id in anime_ids:
    if anime_id not in encoding_anime_ids:
        encoding_anime_ids[anime_id] = last_index
        last_index+=1

In [18]:
# encoding MAL_ID dengan data encoding
anime_with_synopsis_df['MAL_ID'] = anime_with_synopsis_df['MAL_ID'].map(encoding_anime_ids)

In [19]:
anime_with_synopsis_df

       MAL_ID                                          sypnopsis
0           0  In the year 2071, humanity has colonized sever...
1           1  other day, another bountysuch is the life of ...
2           2  Vash the Stampede is the man with a $$60,000,0...
3           3  ches are individuals with special powers like ...
4           4  It is the dark century and the people are suff...
...       ...                                                ...
16201   17342  No synopsis information has been added to this...
16202   17343  ko is a typical high school student whose life...
16203   17344          Sequel to Higurashi no Naku Koro ni Gou .
16204   17345                          New Yama no Susume anime.
16205   17346  Solar calendar year 2020: grotesque organisms ...

[16206 rows x 2 columns]

##### 2. Preprocessing teks pada kolom 'sypnopsis'

In [20]:
def preprocess_text(text):
    # Remove non-ASCII characters
    text = ''.join(char for char in text if ord(char) < 128)
    
    # Remove special characters and numbers
    text = re.sub(r'[^a-zA-Z\s]', '', text)
    
    # Lowercase the text
    text = text.lower()
    
    # Remove punctuation
    text = text.translate(str.maketrans('', '', string.punctuation))
    
    # Tokenization
    tokens = text.split()
    
    # Remove stop words
    stop_words = set(stopwords.words('english'))
    tokens = [word for word in tokens if word not in stop_words]
    
    # Stemming (you can also use lemmatization)
    stemmer = PorterStemmer()
    tokens = [stemmer.stem(word) for word in tokens]
    
    # Join tokens back into a single string
    return ' '.join(tokens)

In [21]:
# Apply preprocessing to the 'synopsis' column
anime_with_synopsis_df['processed_synopsis'] = anime_with_synopsis_df['sypnopsis'].apply(preprocess_text)

# drop sypnosis columns
anime_with_synopsis_df.drop('sypnopsis', axis=1, inplace=True)

##### 3. Ekstraksi fitur TF-IDF dari kolom 'sypnopsis'

In [22]:
# Initialize TfidfVectorizer
max_features = 1000  
tfidf_vectorizer = TfidfVectorizer(max_features=max_features, max_df=5)

# Fit and transform the processed synopsis column
tfidf_matrix = tfidf_vectorizer.fit_transform(anime_with_synopsis_df['processed_synopsis'])

# Convert TF-IDF matrix to DataFrame for better visualization (optional)
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf_vectorizer.get_feature_names_out())

In [23]:
# add MAL_ID information to the tfidf_df
tfidf_df = pd.concat([
    anime_with_synopsis_df[['MAL_ID']],
    tfidf_df
],axis=1)

In [24]:
tfidf_df

,MAL_ID,abel,abh,advent,aeon,agetar,ah,ahiru,ajin,akeno,...,yusaku,yuuhi,yuusei,yuyu,zack,zaizen,zhan,zhou,zhu,zoid
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16201,17342,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16202,17343,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16203,17344,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16204,17345,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16205,17346,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Dataframe `rating_df_lite_version`
***
1. Oleh karena kolom **anime_id** pada dataframe `rating_df_lite_version` sama dengan **MAL_ID** pada dataframe `anime_merged` ataupun **anime_with_synopsis**, maka perlu juga dilakukan mapping yang sama dengan kedua dataframe tersebut
2. Encoding kolom **user_id** agar index integer lebih teratur dan memastikan terurut dan tidak acak kode unik yang diinputkan untuk setiap user_id
2. Merge dataframe `rating_df_lite_version` dengan numerical features dari dataframe content-based filtering sebagai fitur tambahan saat training model nantinya
2. Normalisasi kolom **rating** dengan min-max normalization

##### 1. Encoding anime_id = MAL_ID

In [25]:
# encoding MAL_ID dengan data encoding
rating_df_lite_version['anime_id'] = rating_df_lite_version['anime_id'].map(encoding_anime_ids)

In [26]:
rating_df_lite_version.head()

   user_id  anime_id  rating
0        1    5211.0      10
1        1    6556.0      10
2        1    6595.0      10
3        1    7245.0      10
4        2    6601.0      10

##### 2. Encoding user_id

In [27]:
user_ids = rating_df_lite_version['user_id'].unique().tolist()
encoding_user_ids = {x: i for i, x in enumerate(user_ids)}

# encoding user_id dengan data encoding
rating_df_lite_version['user_id'] = rating_df_lite_version['user_id'].map(encoding_user_ids)

In [28]:
rating_df_lite_version.head()

   user_id  anime_id  rating
0        0    5211.0      10
1        0    6556.0      10
2        0    6595.0      10
3        0    7245.0      10
4        1    6601.0      10

##### 3. Normalisasi kolom rating dengan min-max normalization

In [29]:
# Initialize MinMaxScaler
scaler = MinMaxScaler()

# Apply Min-Max normalization to the selected columns
scaled_rating = scaler.fit_transform(rating_df_lite_version[['rating']])
rating_df_lite_version['rating'] = pd.DataFrame(scaled_rating, columns=['rating'])

In [30]:
rating_df_lite_version

         user_id  anime_id    rating
0              0    5211.0  1.000000
1              0    6556.0  1.000000
2              0    6595.0  1.000000
3              0    7245.0  1.000000
4              1    6601.0  1.000000
...          ...       ...       ...
6337236    69598    7431.0  0.666667
6337237    69598    7583.0  0.888889
6337238    69598    8581.0  1.000000
6337239    69599     716.0  0.888889
6337240    69599    5211.0  0.888889

[6337241 rows x 3 columns]

### Penggabungan File

#### untuk Content-based Filtering
***
Hasil feature engineering dari dua dataframe, yaitu `anime_merged` dan `anime_with_synopsis` akan digabungkan untuk tujuan content-based filtering

In [36]:
numerical_scaled_feature_df

,MAL_ID,Episodes,year_premiered,start_date_aired,start_year_aired,duration_hours,duration_minutes,duration_seconds
0,0,0.008181,0.616667,0.066667,0.778846,0.0,0.406780,0.0
1,1,0.000000,0.916667,0.000000,0.807692,0.5,0.932203,0.0
2,2,0.008181,0.616667,0.000000,0.778846,0.0,0.406780,0.0
3,3,0.008181,0.683333,0.033333,0.817308,0.0,0.423729,0.0
4,4,0.016688,0.716667,0.966667,0.836538,0.0,0.389831,0.0
...,...,...,...,...,...,...,...,...
12074,12074,0.005563,0.916667,0.266667,0.951923,0.0,0.067797,0.0
12075,12075,0.002618,0.916667,0.800000,0.932692,0.0,0.067797,0.0
12076,12076,0.003599,0.933333,0.300000,0.961538,0.0,0.389831,0.0
12077,12077,0.003599,0.933333,0.266667,0.961538,0.0,0.389831,0.0
12078,12078,0.000000,0.916667,0.933333,0.961538,0.0,0.898305,0.0

In [37]:
content_based_dataframe = pd.concat([
    anime_df_merged[['MAL_ID']],
    ohe_genres_df,
    ohe_licensors_df,
    ohe_producers_df,
    ohe_rating_df,
    ohe_source_df,
    ohe_studios_df,
    ohe_type_df,
    numerical_scaled_feature_df.drop('MAL_ID', axis=1)
],axis=1)

content_based_dataframe = pd.merge(content_based_dataframe, tfidf_df, on='MAL_ID', how='left')

In [38]:
content_based_dataframe

,MAL_ID,Genre_Action,Genre_Adventure,Genre_Cars,Genre_Comedy,Genre_Dementia,Genre_Demons,Genre_Drama,Genre_Ecchi,Genre_Fantasy,...,yusaku,yuuhi,yuusei,yuyu,zack,zaizen,zhan,zhou,zhu,zoid
0,0,1,1,0,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1,0,0,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,1,1,0,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,1,0,0,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0,1,0,0,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12074,12074,1,1,0,0,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12075,12075,0,0,0,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12076,12076,0,0,0,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12077,12077,0,0,0,1,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12078,12078,0,1,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

- Penggabungan hasil feature engineering pada dataframe `anime_merged` dengan TF-IDF dari sinopsis dataframe `anime_with_synopsis` menghasilkan 2.706 fitur.
- Tahap reduksi fitur mungkin diperlukan untuk mengurangi **curse of dimensionality** dan mengurangi kompleksitas model pelatihan apabila menggunakan model machine learning (unsupervised)

#### untuk Collaborative filtering
***
Numerical features hasil feature engineering dari dataframe `anime_merged` akan digabungkan dengan feature engineering dari dataframe `rating_df_lite_version`

In [39]:
collaborative_based_dataframe = pd.merge(
    rating_df_lite_version, 
    numerical_scaled_feature_df,
    left_on='anime_id',
    right_on='MAL_ID',
    how='left'
)

In [40]:
# remove anime_id columns bcs it is similar to MAL_ID
collaborative_based_dataframe.drop('anime_id', axis=1, inplace=True)

In [41]:
collaborative_based_dataframe

,user_id,rating,MAL_ID,Episodes,year_premiered,start_date_aired,start_year_aired,duration_hours,duration_minutes,duration_seconds
0,0,1.000000,5211.0,0.003599,0.816667,0.133333,0.894231,0.0,0.406780,0.0
1,0,1.000000,6556.0,0.003599,0.850000,0.166667,0.913462,0.0,0.406780,0.0
2,0,1.000000,6595.0,0.007853,0.850000,0.233333,0.913462,0.0,0.389831,0.0
3,0,1.000000,7245.0,0.003599,0.866667,0.200000,0.923077,0.0,0.406780,0.0
4,1,1.000000,6601.0,0.007853,0.850000,0.233333,0.913462,0.0,0.406780,0.0
...,...,...,...,...,...,...,...,...,...,...
6337236,69598,0.666667,7431.0,0.003927,0.866667,0.133333,0.923077,0.0,0.406780,0.0
6337237,69598,0.888889,7583.0,0.000000,0.916667,0.700000,0.923077,0.0,0.983051,0.0
6337238,69598,1.000000,8581.0,0.002945,0.883333,0.333333,0.932692,0.0,0.406780,0.0
6337239,69599,0.888889,716.0,0.007199,0.750000,0.800000,0.855769,0.0,0.423729,0.0
6337240,69599,0.888889,5211.0,0.003599,0.816667,0.133333,0.894231,0.0,0.406780,0.0

### Data duplicate and handling missing values if any?

#### Check and handling for Content-based dataframe

In [42]:
# check duplicated number of rows
content_based_dataframe[
    content_based_dataframe.duplicated()
]

Empty DataFrame
Columns: [MAL_ID, Genre_Action, Genre_Adventure, Genre_Cars, Genre_Comedy, Genre_Dementia, Genre_Demons, Genre_Drama, Genre_Ecchi, Genre_Fantasy, Genre_Game, Genre_Harem, Genre_Hentai, Genre_Historical, Genre_Horror, Genre_Josei, Genre_Kids, Genre_Magic, Genre_Martial Arts, Genre_Mecha, Genre_Military, Genre_Music, Genre_Mystery, Genre_Parody, Genre_Police, Genre_Psychological, Genre_Romance, Genre_Samurai, Genre_School, Genre_Sci-Fi, Genre_Seinen, Genre_Shoujo, Genre_Shoujo Ai, Genre_Shounen, Genre_Shounen Ai, Genre_Slice of Life, Genre_Space, Genre_Sports, Genre_Super Power, Genre_Supernatural, Genre_Thriller, Genre_Vampire, Genre_Yaoi, Genre_Yuri, Licensors_4Kids Entertainment, Licensors_ADV Films, Licensors_Active, Licensors_Adult Source Media, Licensors_Anchor Bay Films, Licensors_AnimEigo, Licensors_Anime Midstream, Licensors_Aniplex of America, Licensors_B.CMAY PICTURES, Licensors_Bandai, Licensors_Bandai Entertainment, Licensors_Bandai Visual USA, Licensors_Brain's Base, Licensors_Capcom, Licensors_Central Park Media, Licensors_Cinelicious Pics, Licensors_Cookie Jar Entertainment, Licensors_Crimson Star Media, Licensors_Critical Mass Video, Licensors_Crunchyroll, Licensors_Dentsu Entertainment USA, Licensors_DiC Entertainment, Licensors_Discotek Media, Licensors_DreamWorks, Licensors_Eleven Arts, Licensors_Enoki Films, Licensors_Flatiron Film Company, Licensors_Funimation, Licensors_GKIDS, Licensors_Geneon Entertainment USA, Licensors_Geneon Universal Entertainment, Licensors_Haoliners Animation League, Licensors_Hasbro, Licensors_Inc., Licensors_JapanAnime, Licensors_Kadokawa, Licensors_Kadokawa Pictures USA, Licensors_Ketchup Entertainment, Licensors_Kitty Media, Licensors_Konami, Licensors_Maiden Japan, Licensors_Manga Entertainment, Licensors_Marvel Entertainment, Licensors_Media Blasters, Licensors_Miramax Films, Licensors_NIS America, Licensors_NYAV Post, Licensors_Nelvana, Licensors_Netflix, Licensors_Nintendo of America, Licensors_Nozomi Entertainment, Licensors_NuTech Digital, Licensors_OLM Digital, Licensors_Pied Piper, Licensors_Pioneer LDC, Licensors_Ponycan USA, ...]
Index: []

[0 rows x 2707 columns]

In [43]:
content_based_dataframe.isna().sum()

MAL_ID                0
Genre_Action          0
Genre_Adventure       0
Genre_Cars            0
Genre_Comedy          0
                   ...
zaizen             1141
zhan               1141
zhou               1141
zhu                1141
zoid               1141
Length: 2707, dtype: int64

- masih terdapat kolom dengan missing values dari hasil merging kedua dataframe hasil feature engineering. 
- kolom-kolom yang memuat missing values akan dibuang, kurang lebih jumlahnya 1000 kolom (lumayan untuk mereduksi jumlah fitur)

In [44]:
# remove attributes/columns/features with missing values
content_based_dataframe.dropna(axis=1, how='any', inplace=True)

In [45]:
content_based_dataframe.isna().sum()

MAL_ID              0
Genre_Action        0
Genre_Adventure     0
Genre_Cars          0
Genre_Comedy        0
                   ..
start_date_aired    0
start_year_aired    0
duration_hours      0
duration_minutes    0
duration_seconds    0
Length: 1707, dtype: int64

Dari hasil pengecekan dan penanganan, sudah tidak ada data duplikat dan missing values

#### Check and handling for Collaborative-based dataframe

In [46]:
# check duplicate number of rows
collaborative_based_dataframe[
    collaborative_based_dataframe.duplicated()
]

,user_id,rating,MAL_ID,Episodes,year_premiered,start_date_aired,start_year_aired,duration_hours,duration_minutes,duration_seconds
44010,535,0.555556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226327,2761,0.555556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231409,2821,0.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
345845,4165,0.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
416740,4910,0.555556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
6070206,66256,0.777778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6149692,67252,0.444444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6149695,67252,0.444444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6291366,69139,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6294650,69176,0.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- Ada 166 baris data duplikat
- Baris-baris yang demikian akan dihapus dan tidak digunakan dalam proses berikutnya

In [47]:
collaborative_based_dataframe.drop_duplicates(inplace=True)

In [48]:
# check duplicate number of rows
collaborative_based_dataframe[
    collaborative_based_dataframe.duplicated()
]

Empty DataFrame
Columns: [user_id, rating, MAL_ID, Episodes, year_premiered, start_date_aired, start_year_aired, duration_hours, duration_minutes, duration_seconds]
Index: []

Sudah tidak ada duplikat

In [49]:
# check number of missing values
collaborative_based_dataframe.isna().sum()

user_id                0
rating                 0
MAL_ID              1451
Episodes            1451
year_premiered      1451
start_date_aired    1451
start_year_aired    1451
duration_hours      1451
duration_minutes    1451
duration_seconds    1451
dtype: int64

- Ada sebesar 1.451 baris data yang nilainya tidak ada (missing values)
- Missing values tersebut akan dihapus dari dataframe karena jumlah baris dataframe rating sekitar +-6.3 juta baris data dan dengan menghapus sekitar 1.400 baris tidak menghilangkan cukup banyak informasi

In [50]:
collaborative_based_dataframe.dropna(axis=0, inplace=True, how='any')

In [51]:
# check number of missing values
collaborative_based_dataframe.isna().sum()

user_id             0
rating              0
MAL_ID              0
Episodes            0
year_premiered      0
start_date_aired    0
start_year_aired    0
duration_hours      0
duration_minutes    0
duration_seconds    0
dtype: int64

Setelah dihapus sudah tidak ada lagi missing values

# Simpan Data Hasil Preprocessing dan Preparation

In [52]:
content_based_dataframe.to_csv('./preprocessed_dataset/content_based_dataframe.csv', index=False)
collaborative_based_dataframe.to_csv('./preprocessed_dataset/collaborative_based_dataframe.csv', index=False)